[submodule "Mangogram/ThirdParty/GSL"]
	path = Mangogram/ThirdParty/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "Mangogram/ThirdParty/xxHash"]
	path = Mangogram/ThirdParty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Mangogram/ThirdParty/rlottie"]
	path = Mangogram/ThirdParty/rlottie
	url = https://github.com/desktop-app/rlottie.git
[submodule "Mangogram/ThirdParty/lz4"]
	path = Mangogram/ThirdParty/lz4
	url = https://github.com/lz4/lz4.git
[submodule "Mangogram/lib_crl"]
	path = Mangogram/lib_crl
	url = https://github.com/desktop-app/lib_crl.git
[submodule "Mangogram/lib_rpl"]
	path = Mangogram/lib_rpl
	url = https://github.com/desktop-app/lib_rpl.git
[submodule "Mangogram/lib_base"]
	path = Mangogram/lib_base
	url = https://github.com/desktop-app/lib_base.git
[submodule "Mangogram/codegen"]
	path = Mangogram/codegen
	url = https://github.com/desktop-app/codegen.git
[submodule "Mangogram/lib_ui"]
	path = Mangogram/lib_ui
	url = https://github.com/desktop-app/lib_ui.git
[submodule "Mangogram/lib_lottie"]
	path = Mangogram/lib_lottie
	url = https://github.com/desktop-app/lib_lottie.git
[submodule "Mangogram/lib_tl"]
	path = Mangogram/lib_tl
	url = https://github.com/desktop-app/lib_tl.git
[submodule "Mangogram/lib_spellcheck"]
	path = Mangogram/lib_spellcheck
	url = https://github.com/desktop-app/lib_spellcheck
[submodule "Mangogram/lib_storage"]
	path = Mangogram/lib_storage
	url = https://github.com/desktop-app/lib_storage.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/desktop-app/cmake_helpers.git
[submodule "Mangogram/ThirdParty/expected"]
	path = Mangogram/ThirdParty/expected
	url = https://github.com/TartanLlama/expected
[submodule "Mangogram/ThirdParty/QR"]
	path = Mangogram/ThirdParty/QR
	url = https://github.com/nayuki/QR-Code-generator
[submodule "Mangogram/lib_qr"]
	path = Mangogram/lib_qr
	url = https://github.com/desktop-app/lib_qr.git
[submodule "Mangogram/ThirdParty/hunspell"]
	path = Mangogram/ThirdParty/hunspell
	url = https://github.com/hunspell/hunspell
[submodule "Mangogram/ThirdParty/range-v3"]
	path = Mangogram/ThirdParty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "Mangogram/ThirdParty/nimf"]
	path = Mangogram/ThirdParty/nimf
	url = https://github.com/hamonikr/nimf.git
[submodule "Mangogram/ThirdParty/hime"]
	path = Mangogram/ThirdParty/hime
	url = https://github.com/hime-ime/hime.git
[submodule "Mangogram/ThirdParty/fcitx5-qt"]
	path = Mangogram/ThirdParty/fcitx5-qt
	url = https://github.com/fcitx/fcitx5-qt.git
[submodule "Mangogram/lib_webrtc"]
	path = Mangogram/lib_webrtc
	url = https://github.com/desktop-app/lib_webrtc.git
[submodule "Mangogram/ThirdParty/tgcalls"]
	path = Mangogram/ThirdParty/tgcalls
	url = https://github.com/MangogramMessenger/tgcalls.git
[submodule "Mangogram/lib_webview"]
	path = Mangogram/lib_webview
	url = https://github.com/desktop-app/lib_webview.git
[submodule "Mangogram/ThirdParty/kimageformats"]
	path = Mangogram/ThirdParty/kimageformats
	url = https://github.com/KDE/kimageformats.git
[submodule "Mangogram/ThirdParty/kcoreaddons"]
	path = Mangogram/ThirdParty/kcoreaddons
	url = https://github.com/KDE/kcoreaddons.git
[submodule "Mangogram/ThirdParty/cld3"]
	path = Mangogram/ThirdParty/cld3
	url = https://github.com/google/cld3.git
[submodule "Mangogram/ThirdParty/libprisma"]
	path = Mangogram/ThirdParty/libprisma
	url = https://github.com/desktop-app/libprisma.git
[submodule "Mangogram/ThirdParty/xdg-desktop-portal"]
	path = Mangogram/ThirdParty/xdg-desktop-portal
	url = https://github.com/flatpak/xdg-desktop-portal.git
[submodule "Mangogram/lib_translate"]
	path = Mangogram/lib_translate
	url = https://github.com/desktop-app/lib_translate
[submodule "Mangogram/ThirdParty/cmark-gfm"]
	path = Mangogram/ThirdParty/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
[submodule "Mangogram/ThirdParty/MicroTeX"]
	path = Mangogram/ThirdParty/MicroTeX
	url = https://github.com/desktop-app/MicroTeX.git
[submodule "Mangogram/ThirdParty/TooManyCooks"]
	path = Mangogram/ThirdParty/TooManyCooks
	url = https://github.com/tzcnt/TooManyCooks.git
